<div class="">
    <div class="mb-4 p-3 border-round-xl bg-white">
        <h4 class="m-0">Thông tin chung</h4>
        <p-divider></p-divider>
        <div class="flex flex-wrap justify-content-between">
            <div class="grid col-2">
                <span class="md:col-6 font-light">Mã role</span>
                <span class="md:col-6 text-overflow-ellipsis overflow-hidden">{{role?.code}}</span>
            </div>
            <div class="grid col-4">
                <span class="md:col-6 font-light">Role chức danh</span>
                <div class="md:col-6 text-overflow-ellipsis overflow-hidden">
                    <span>{{role?.roleTitle}}</span>
                </div>
            </div>
            <div class="grid col-4">
                <span class="md:col-4 font-light">Roles dự án</span>
                <div class="md:col-8 text-overflow-ellipsis overflow-hidden">
                    <span>{{role?.roleProject}}</span>
                </div>
            </div>
            <div class="grid col-2">
                <span class="md:col-6 font-light">Trạng thái</span>
                <span class="md:col-6 pt-1">
                    <p-tag class="pb-1" [value]="translateRoleStatus(role?.status)"
                        [severity]="getSeverity(role?.status)"></p-tag>
                </span>
            </div>
        </div>
    </div>
    <div>
        <p-table [value]="staffs" responsiveLayout="stack" [scrollable]="true" [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]" [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} trong số {totalPages}" [paginator]="true"
            [tableStyle]="{ 'min-width': '100%' }" [rowHover]="true" #dt>
            <ng-template pTemplate="caption">
                <h4 class="m-0">Danh sách nhân viên thuộc Roles
                    <sup><p-tag>{{dt.totalRecords}}</p-tag></sup>
                </h4>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="max-width: 5%;">#</th>
                    <th style="max-width: 25%;" pSortableColumn="name">Nhân viên <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th style="max-width: 25%;" pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
                    <th style="max-width: 25%;" pSortableColumn="org">Đơn vị <p-sortIcon field="org"></p-sortIcon></th>
                    <th style="max-width: 20%;" pSortableColumn="status">Trạng thái<p-sortIcon field="status"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-staffs let-rowIndex="rowIndex">
                <tr>
                    <td style="max-width: 5%;">{{rowIndex+1}}</td>
                    <td style="max-width: 25%;">
                        <div class="flex">
                            <p-avatar
                                image="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/ae4816cade1a5b7f29787d0b89610132c72c7747041481c6619b9cc3302c0101._RI_TTW_.jpg"
                                shape="circle" size="large"></p-avatar>
                            <div class="mt-1 ml-2">
                                <div class="text-overflow-ellipsis overflow-hidden">{{staffs.name}}</div>
                                <div class="text-overflow-ellipsis overflow-hidden">{{staffs.code}}</div>
                            </div>
                        </div>
                    </td>
                    <td style="max-width: 25%;">
                        <div class="text-overflow-ellipsis overflow-hidden">{{staffs.email}}</div>
                    </td>
                    <td style="max-width: 25%;">
                        <div class="text-overflow-ellipsis overflow-hidden">{{staffs.department.name}}</div>
                    </td>
                    <td style="max-width: 20%;"><p-tag [value]="translateStatus(staffs.status)"
                            [severity]="getSeverity(staffs.status)"></p-tag></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>