
 <div class=" border-round-2xl mb-3 p-3">
    <h4 class="m-0">Thông tin chung</h4>
    <div class="flex">
        <p-avatar class="mt-4" [image]="customer?.avatarImage || '' " styleClass="mr-2" size="xlarge"></p-avatar>
        <div>
            <h4>{{ customer?.name}}</h4>
            <p class="font-light">{{ customer?.code}}</p>
        </div>
    </div>
    <p-divider></p-divider>
    <div class="grid-nogutter">
        <div class="flex">
            <div class="flex col-4">
                <span class="font-light col-5">Mã số thuế: </span>
                <span class="col-5 ellipsis">{{customer?.taxId}}</span>
            </div>
            <div class="flex col-4">
                <span class="font-light col-5">Nhóm khách hàng: </span>
                <span class="col-5 ellipsis">{{ customer?.groupName}}</span>
            </div>
        </div>
        <div class="flex">
            <div class="flex col-4">
                <span class="font-light col-5">Số điện thoại: </span>
                <span class="col-5 ellipsis">{{customer?.phoneNumber}}</span>
            </div>
            <div class="flex col-4">
                <span class="font-light col-5">Email: </span>
                <span class="col-5 ellipsis">{{customer?.email}}</span>
            </div>
            <div class="flex col-4">
                <span class="font-light col-5">Fax: </span>
                <span class="col-5 ellipsis">{{customer?.fax}}</span>
            </div>
        </div>
        <div class="flex col-12">
            <div class="flex col-4">
                <span class="font-light col-5">Địa chỉ: </span>
                <span class="col-12">{{customer?.address}}</span>
            </div>
        </div>
        <div class="flex">
            <div class="flex col-4">
                <span class="font-light col-5">Số tài khoản: </span>
                <span class="col-5 ellipsis">{{customer?.bankAccountNumber}}</span>
            </div>
            <div class="flex col-4">
                <span class="font-light col-5">Ngân hàng: </span>
                <span class="col-5 ellipsis">{{customer?.bankName}}</span>
            </div>
            <div class="flex col-4">
                <span class="font-light col-5">Chi nhánh: </span>
                <span class="col-5 ellipsis">{{customer?.bankBranch}}</span>
            </div>
        </div>
    </div>
</div>

<div class="border-round-2xl mb-3 p-3">
    <h4 class="m-0">Người đại diện</h4>
    <p-divider></p-divider>
    <div class="flex overflow-x-scroll">
        <div *ngFor="let representative of customer?.representatives" class="border-1 border-round-2xl mb-3 p-3 mr-3 col-3">
            <div class="flex">
                <p-avatar class="mt-4" [image]="representative.avatarImage" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                <div>
                    <h4>{{ representative.name}}</h4>
                    <h4 class="font-light">{{ representative.phoneNumber }}</h4>
                </div>
            </div>
            <h4 class="m-0">{{ representative.position }}</h4>
        </div>
    </div>
</div>

<div class=" border-round-2xl mb-3 p-3">
    <h4 class="m-0">Thông tin chung</h4>
    <p>{{customer?.note}}</p>
</div>

