<div class="card">
    <p-table #dt1 class="p-element" [rows]="10"  [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
        currentPageReportTemplate="{first} - {last} of {totalRecords}" [paginator]="true" [value]="projects"
        [tableStyle]="{ 'min-width': '100%' }" [lazy]="false"
        [globalFilterFields]="['project_name', 'company','start_date', 'finish_date','category', 'customer','pm.name']">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h2 class="m-2 flex align-items-center">Dự án
                    <p-badge class="mb-3 ml-2" value={{projects.length}}></p-badge>
                </h2>
            </div>
            <div class="flex">
                <span class="p-input-icon-left mr-auto p-input-icon-right mr-auto">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText (input)="dt1.filterGlobal($any($event.target).value,'contains')"
                        placeholder="Tìm kiếm" />
                </span>
                <p-button (onClick)="exportToExcel()" label="Xuất tệp tin" icon="pi pi-download"
                    styleClass="p-button-outlined"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" class="flex">
            <tr>
                <th>#</th>
                <th pSortableColumn="project_name" style="width:auto">Dự án <i class=" pi pi-arrow-down"></i>
                </th>
                <th pSortableColumn="company" style="width:auto">Đơn vị <i class=" pi pi-arrow-down"></i></th>
                <th pSortableColumn="start_date" style="width:auto">Ngày bắt đầu <i class=" pi pi-arrow-down"></i></th>
                <th pSortableColumn="finish_date" style="width: auto;">Ngày kết thúc <i class=" pi pi-arrow-down"></i>
                </th>
                <th pSortableColumn="pm.name" style="width: auto;">PM <i class=" pi pi-arrow-down"></i></th>
                <th pSortableColumn="category" style="width: auto;">Loại dự án <i class=" pi pi-arrow-down"></i></th>
                <th pSortableColumn="customer" style="width: auto;">Khách hàng <i class=" pi pi-arrow-down"></i></th>
                <th pSortableColumn="status" style="width: auto;">Trạng thái <i class=" pi pi-arrow-down"></i></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project let-i="rowIndex">
            <tr class="cursor-pointer list-project" (click)="navigateProjectDetail(project.id)">
                <td >{{ i +1 }}</td>
                <td class="text-overflow-ellipsis overflow-hidden white-space-nowrap max-w-10rem">
                    <p-avatar label="VS" styleClass="mr-2" shape="circle"></p-avatar>
                    {{project.project_name}}
                </td>
                <td class="text-overflow-ellipsis overflow-hidden white-space-nowrap max-w-12rem text-center">{{project.company}}</td>
                <td class="text-overflow-ellipsis overflow-hidden white-space-nowrap max-w-12rem text-center">{{ project.start_date }}</td>
                <td class="text-overflow-ellipsis overflow-hidden white-space-nowrap max-w-12rem text-center">{{ project.finish_date }}</td>
                <td class="text-overflow-ellipsis overflow-hidden white-space-nowrap max-w-12rem text-center">
                    <span class="p-column-title">PM</span>
                    <img [alt]="project.pm.name" [src]="project.pm.image" width="32" style="vertical-align: middle" />
                    <span class="ml-1 vertical-align-middle">{{ project.pm.name }}</span>
                </td>
                <td class="text-overflow-ellipsis overflow-hidden white-space-nowrap max-w-12rem text-center">{{project.category}}</td>
                <td class="text-overflow-ellipsis overflow-hidden white-space-nowrap max-w-12rem text-center">{{ project.customer}}</td>
                <td><p-tag [value]="translateStatus(project.status) " [severity]="getSeverity(project.status)"></p-tag>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
