/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";

html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  background: #f3f7fa;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.layout-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #001951;
  width: 250px;
  user-select: none;
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  color: white;

  .logo {
    display: flex;
    justify-content: center;
  }

  nav {
    padding: 0.5rem 1rem 2rem 1rem;
    margin-top: 2rem;
    flex-grow: 1;
    overflow-y: auto;
    border-top: 2px dotted white;
  }

  .layout-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0.25rem;
    }

    > li {
      > button,
      > a {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0.5rem;
        color: white;
        transition: box-shadow 0.2s;
        border-radius: var(--border-radius);

        &:hover {
          background-color: #818ca8;
        }

        .menu-icon {
          width: 2rem;
          height: 2rem;
          border-radius: var(--border-radius);
          margin-right: 0.5rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;

          i {
            color: white;
            font-size: 1.3rem;
          }
        }

        .menu-toggle-icon {
          color: lightgray;
          margin-left: auto;
        }
      }

      > div {
        > ul {
          margin: 0 0 0 1.5rem;
          padding: 0.25rem 0 0 0.5rem;

          > li {
            > ul {
              margin-bottom: 1.5rem;
            }
          }
        }
      }
    }

    a.router-link-active {
      background-color: #818ca8;

      > .menu-icon {
        i {
          color: lightgray;
        }
      }
    }

    .menu-child-category {
      display: flex;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      font-size: 0.875rem;
      font-weight: 700;
      letter-spacing: 1px;
      color: white;
      border-bottom: 1px solid var(--surface-border);
      margin-bottom: 0.25rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        display: flex;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        color: white;
        border-radius: var(--border-radius);
        transition: box-shadow 0.2s;

        &:focus {
          outline: 0 none;
          box-shadow: inset var(--focus-ring);
        }

        &:hover {
          background-color: #818ca8;
        }

        &::before {
          content: "\2022";
          color: white;
          font-weight: bold;
          display: inline-block;
          width: 1em;
        }
      }
    }
  }
}

.layout-topbar {
  padding: 0;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  z-index: 1100;
  transition: background-color 1s;
  background: white;

  .layout-topbar-inner {
    height: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0 4rem;

    .avatar {
      width: 2.5rem;
      min-width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }
  }

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu-button {
    display: none;
    color: var(--text-color);
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    background-color: var(--surface-card);
    border: 1px solid var(--surface-border);
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s;
    cursor: pointer;

    &:hover {
      border-color: var(--primary-color);
    }

    i {
      font-size: 1.3rem;
    }
  }
}

.layout-wrapper-light {
  .layout-topbar {
    &.layout-topbar-sticky {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

.layout-wrapper-dark {
  .layout-topbar {
    &.layout-topbar-sticky {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

@media screen and (min-width: 1729px) {
  .layout-content-inner {
    max-width: 1478px;
    margin: 0 auto;
  }

  .layout-topbar-inner {
    max-width: 1478px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .layout-wrapper {
    .layout-topbar {
      left: 0;
      width: 100%;

      .menu-button {
        display: flex;
      }

      #docsearch {
        margin-left: auto;
        margin-right: 0.5rem;
      }

      .DocSearch-Button {
        width: 2rem;
        height: 2rem;
        overflow: hidden;
        padding: 0;
        justify-content: center;
        align-items: center;

        .DocSearch-Search-Icon {
          width: 1rem;
          height: 1rem;
        }

        .DocSearch-Button-Placeholder,
        .DocSearch-Button-Keys {
          display: none;
        }
      }
    }

    .layout-sidebar {
      top: 0;
      z-index: 1102;
      height: 100%;
      transform: translateX(-100%);

      &.active {
        transform: translateX(0);
      }
    }

    .layout-content {
      margin-left: 0;
    }

    .layout-mask {
      background-color: rgba(0, 0, 0, 0.1);

      &.layout-mask-active {
        z-index: 1101;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        transition: background-color 0.5s;
      }
    }

    .doc-section-nav {
      display: none;
    }

    .video-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .blocked-scroll {
    overflow: hidden;
  }
}

@media screen and (max-width: 575px) {
  .layout-wrapper {
    .layout-topbar-inner {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .layout-topbar {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .layout-content {
      .layout-content-inner {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    .layout-footer {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

@mixin card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.layout-content {
  margin-left: 250px;
  padding-top: 5rem;

  .layout-content-inner {
    padding: 2rem 1rem;
  }

  .card {
    @include card;
  }
}

.p-paginator {
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;

  >p-dropdown {
    order: -1;
    margin-right: auto;
  }
}

.p-datatable .p-datatable-header{
  background: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.border-round-2xl {
  background: white;
}

.p-breadcrumb {
  background: none;
  border: none;
}

.p-breadcrumb .p-breadcrumb-chevron::before {
  content: '\2022';
}
