<div>
    <p-table [value]="customers" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between align-items-end mb-4 mx-3 w-100">
                <div class="search-box col-md-7">
                    <h2 class="flex align-items-end">Khách hàng<p-tag class="ml-1 mb-2">{{totalRecord}}</p-tag></h2>
                    <div class="p-input-icon-left p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="Tìm kiếm" [(ngModel)]="searchText" />
                        <i class="pi-chevron-right pi" (click)="search()"></i>
                    </div>
                </div>
                <div class="col-15">
                    <p-button icon="pi pi-download" label="Xuất tệp tin" styleClass="p-button-outlined"
                        (click)="exportToExcel()"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:2%">#</th>
                <th pSortableColumn="code" style="width:10%; text-align: center">Mã khách hàng <p-sortIcon
                        field="code"></p-sortIcon></th>
                <th pSortableColumn="name" style="width:20%">Tên khách hàng <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="group" style="width:20%; text-align: center">Nhóm khách hàng <p-sortIcon
                        field="group"></p-sortIcon>
                </th>
                <th pSortableColumn="status" style="width:10%">Trạng thái</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-i="rowIndex">
            <tr (click)="routerLink(customer)">
                <td>{{ i + 1 }}</td>
                <td style="text-align: center;" class="code-ellipsis">{{customer.code}}</td>
                <td class="ellipsis">
                    <img [alt]="customer.name" [src]="customer.avatarImage" width="32" style="vertical-align: middle" />
                    <span class="ml-1 vertical-align-middle" title="{{customer.name}}">{{ customer.name }}</span>
                </td>
                <td style="text-align: center;">
                    <p-chip>
                        <div class="p-1">{{customer.groupName}}</div>
                    </p-chip>
                </td>
                <td>
                    <p-tag [severity]="getTagSeverity(customer.status)" [value]="customer.status"
                        class="text-white"></p-tag>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-paginator 
                 [totalRecords]="totalRecord" 
                 [rowsPerPageOptions]="pageSizeOptions" 
                 (onPageChange)="onPageChange($event)"></p-paginator>
</div>
